USE [master]
GO
/****** Object:  Database [QuanLyThuVien]    Script Date: 2/25/2026 1:54:12 AM ******/
CREATE DATABASE [QuanLyThuVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyThuVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyThuVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyThuVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyThuVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThuVien]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUMUON]    Script Date: 2/25/2026 1:54:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUMUON](
	[MaPM] [char](10) NOT NULL,
	[MaCuonSach] [char](20) NOT NULL,
	[TinhTrangSach] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHITIETPHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[MaPM] ASC,
	[MaCuonSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 2/25/2026 1:54:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MaPN] [char](10) NOT NULL,
	[MaSach] [char](10) NOT NULL,
	[SoLuongNhap] [int] NULL,
	[DonGia] [decimal](10, 2) NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONNGUOI]    Script Date: 2/25/2026 1:54:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONNGUOI](
	[MaNguoi] [char](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_CONNGUOI] PRIMARY KEY CLUSTERED 
(
	[MaNguoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 2/25/2026 1:54:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MaDocGia] [char](10) NOT NULL,
	[NgayDangKi] [date] NULL,
	[LoaiDocGia] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
	[NgayXoa] [date] NULL,
 CONSTRAINT [PK_DOCGIA] PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KESACH]    Script Date: 2/25/2026 1:54:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KESACH](
	[MaKeSach] [char](10) NOT NULL,
	[TenKe] [nvarchar](50) NULL,
	[MaTheLoai] [char](10) NOT NULL,
 CONSTRAINT [PK_KESACH] PRIMARY KEY CLUSTERED 
(
	[MaKeSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIQUANLY]    Script Date: 2/25/2026 1:54:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIQUANLY](
	[MaNQL] [char](10) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_NGUOIQUANLY] PRIMARY KEY CLUSTERED 
(
	[MaNQL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 2/25/2026 1:54:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MaNXB] [char](10) NOT NULL,
	[TenNXB] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Email] [varchar](50) NULL,
	[SoDienThoai] [varchar](50) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 2/25/2026 1:54:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[MaPM] [char](10) NOT NULL,
	[NgayMuon] [date] NOT NULL,
	[NgayTra] [date] NULL,
	[HenTra] [date] NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[MaNQL] [char](10) NULL,
	[MaThe] [char](10) NULL,
 CONSTRAINT [PK_PHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[MaPM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 2/25/2026 1:54:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MaPN] [char](10) NOT NULL,
	[NgayNhap] [date] NOT NULL,
	[TongTien] [decimal](15, 2) NULL,
	[MaNXB] [char](10) NULL,
	[MaNQL] [char](10) NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 2/25/2026 1:54:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MaSach] [char](10) NOT NULL,
	[TenSach] [nvarchar](200) NOT NULL,
	[TheLoai] [char](10) NULL,
	[MaNXB] [char](10) NULL,
	[NamXB] [int] NULL,
	[NgonNgu] [nvarchar](50) NULL,
	[GiaBia] [decimal](10, 2) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH_TACGIA]    Script Date: 2/25/2026 1:54:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH_TACGIA](
	[MaTacGia] [char](10) NOT NULL,
	[MaSach] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTacGia] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACHCOPY]    Script Date: 2/25/2026 1:54:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACHCOPY](
	[MaVach] [char](20) NOT NULL,
	[MaSach] [char](10) NOT NULL,
	[TenSachBanSao] [nvarchar](50) NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[GhiChuTinhTrang] [nvarchar](50) NULL,
	[NgayNhap] [date] NULL,
	[IsDeleted] [bit] NULL,
	[MaKeSach] [char](10) NULL,
 CONSTRAINT [PK_SACHCOPY] PRIMARY KEY CLUSTERED 
(
	[MaVach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACHHONG]    Script Date: 2/25/2026 1:54:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACHHONG](
	[MaSachHong] [int] NOT NULL,
	[TenSachHong] [nvarchar](50) NOT NULL,
	[MaVach] [char](20) NOT NULL,
	[SoLuong] [int] NULL,
	[NgayGhiNhan] [date] NULL,
	[LyDo] [nvarchar](50) NULL,
 CONSTRAINT [PK_SACHHONG] PRIMARY KEY CLUSTERED 
(
	[MaSachHong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 2/25/2026 1:54:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MaTacGia] [char](10) NOT NULL,
	[TenTacGia] [nvarchar](100) NOT NULL,
	[QuocTich] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[MaTacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 2/25/2026 1:54:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[MaTheLoai] [char](10) NOT NULL,
	[TenTheLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_THELOAI] PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THETHUVIEN]    Script Date: 2/25/2026 1:54:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THETHUVIEN](
	[MaThe] [char](10) NOT NULL,
	[TenThe] [nvarchar](50) NULL,
	[MaDocGia] [char](10) NULL,
	[NgayCap] [date] NULL,
	[NgayHetHan] [date] NULL,
	[MaNQL] [char](10) NULL,
 CONSTRAINT [PK_THETHUVIEN] PRIMARY KEY CLUSTERED 
(
	[MaThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XUPHAT]    Script Date: 2/25/2026 1:54:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XUPHAT](
	[MaXP] [char](10) NOT NULL,
	[LyDo] [nvarchar](300) NULL,
	[SoTien] [decimal](10, 2) NULL,
	[MaPM] [char](10) NULL,
	[MaNQL] [char](10) NULL,
	[MaCuonSach] [char](20) NULL,
 CONSTRAINT [PK_XUPHAT] PRIMARY KEY CLUSTERED 
(
	[MaXP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CONNGUOI__55F68FC00EBC5898]    Script Date: 2/25/2026 1:54:12 AM ******/
ALTER TABLE [dbo].[CONNGUOI] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DOCGIA] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[NGUOIQUANLY] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SACH] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SACHCOPY] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUMUON_PHIEUMUON] FOREIGN KEY([MaPM])
REFERENCES [dbo].[PHIEUMUON] ([MaPM])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON] CHECK CONSTRAINT [FK_CHITIETPHIEUMUON_PHIEUMUON]
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUMUON_SACHCOPY] FOREIGN KEY([MaCuonSach])
REFERENCES [dbo].[SACHCOPY] ([MaVach])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON] CHECK CONSTRAINT [FK_CHITIETPHIEUMUON_SACHCOPY]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_PHIEUNHAP] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PHIEUNHAP] ([MaPN])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_SACH]
GO
ALTER TABLE [dbo].[DOCGIA]  WITH CHECK ADD  CONSTRAINT [FK_DOCGIA_CONNGUOI] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[CONNGUOI] ([MaNguoi])
GO
ALTER TABLE [dbo].[DOCGIA] CHECK CONSTRAINT [FK_DOCGIA_CONNGUOI]
GO
ALTER TABLE [dbo].[KESACH]  WITH CHECK ADD  CONSTRAINT [FK_KESACH_THELOAI] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[THELOAI] ([MaTheLoai])
GO
ALTER TABLE [dbo].[KESACH] CHECK CONSTRAINT [FK_KESACH_THELOAI]
GO
ALTER TABLE [dbo].[NGUOIQUANLY]  WITH CHECK ADD  CONSTRAINT [FK_NGQL_CONNGUOI] FOREIGN KEY([MaNQL])
REFERENCES [dbo].[CONNGUOI] ([MaNguoi])
GO
ALTER TABLE [dbo].[NGUOIQUANLY] CHECK CONSTRAINT [FK_NGQL_CONNGUOI]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUON_NGUOIQUANLY] FOREIGN KEY([MaNQL])
REFERENCES [dbo].[NGUOIQUANLY] ([MaNQL])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_NGUOIQUANLY]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUON_THETHUVIEN] FOREIGN KEY([MaThe])
REFERENCES [dbo].[THETHUVIEN] ([MaThe])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_THETHUVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NGUOIQUANLY] FOREIGN KEY([MaNQL])
REFERENCES [dbo].[NGUOIQUANLY] ([MaNQL])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NGUOIQUANLY]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHAXUATBAN] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NHAXUATBAN] ([MaNXB])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHAXUATBAN]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NXB] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NHAXUATBAN] ([MaNXB])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NXB]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_THELOAI] FOREIGN KEY([TheLoai])
REFERENCES [dbo].[THELOAI] ([MaTheLoai])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_THELOAI]
GO
ALTER TABLE [dbo].[SACH_TACGIA]  WITH CHECK ADD  CONSTRAINT [FK_SACHTACGIA_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
GO
ALTER TABLE [dbo].[SACH_TACGIA] CHECK CONSTRAINT [FK_SACHTACGIA_SACH]
GO
ALTER TABLE [dbo].[SACH_TACGIA]  WITH CHECK ADD  CONSTRAINT [FK_SACHTACGIA_TACGIA] FOREIGN KEY([MaTacGia])
REFERENCES [dbo].[TACGIA] ([MaTacGia])
GO
ALTER TABLE [dbo].[SACH_TACGIA] CHECK CONSTRAINT [FK_SACHTACGIA_TACGIA]
GO
ALTER TABLE [dbo].[SACHCOPY]  WITH CHECK ADD  CONSTRAINT [FK_SACHCOPY_KESACH] FOREIGN KEY([MaKeSach])
REFERENCES [dbo].[KESACH] ([MaKeSach])
GO
ALTER TABLE [dbo].[SACHCOPY] CHECK CONSTRAINT [FK_SACHCOPY_KESACH]
GO
ALTER TABLE [dbo].[SACHCOPY]  WITH CHECK ADD  CONSTRAINT [FK_SACHCOPY_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
GO
ALTER TABLE [dbo].[SACHCOPY] CHECK CONSTRAINT [FK_SACHCOPY_SACH]
GO
ALTER TABLE [dbo].[SACHHONG]  WITH CHECK ADD  CONSTRAINT [FK_SACHHONG_SACHCOPY] FOREIGN KEY([MaVach])
REFERENCES [dbo].[SACHCOPY] ([MaVach])
GO
ALTER TABLE [dbo].[SACHHONG] CHECK CONSTRAINT [FK_SACHHONG_SACHCOPY]
GO
ALTER TABLE [dbo].[THETHUVIEN]  WITH CHECK ADD  CONSTRAINT [FK_THETHUVIEN_DOCGIA] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DOCGIA] ([MaDocGia])
GO
ALTER TABLE [dbo].[THETHUVIEN] CHECK CONSTRAINT [FK_THETHUVIEN_DOCGIA]
GO
ALTER TABLE [dbo].[THETHUVIEN]  WITH CHECK ADD  CONSTRAINT [FK_THETHUVIEN_NGUOIQUANLY] FOREIGN KEY([MaNQL])
REFERENCES [dbo].[NGUOIQUANLY] ([MaNQL])
GO
ALTER TABLE [dbo].[THETHUVIEN] CHECK CONSTRAINT [FK_THETHUVIEN_NGUOIQUANLY]
GO
ALTER TABLE [dbo].[XUPHAT]  WITH CHECK ADD  CONSTRAINT [FK_XUPHAT_NGUOIQUANLY] FOREIGN KEY([MaNQL])
REFERENCES [dbo].[NGUOIQUANLY] ([MaNQL])
GO
ALTER TABLE [dbo].[XUPHAT] CHECK CONSTRAINT [FK_XUPHAT_NGUOIQUANLY]
GO
ALTER TABLE [dbo].[XUPHAT]  WITH CHECK ADD  CONSTRAINT [FK_XUPHAT_PHIEUMUON] FOREIGN KEY([MaPM])
REFERENCES [dbo].[PHIEUMUON] ([MaPM])
GO
ALTER TABLE [dbo].[XUPHAT] CHECK CONSTRAINT [FK_XUPHAT_PHIEUMUON]
GO
ALTER TABLE [dbo].[XUPHAT]  WITH CHECK ADD  CONSTRAINT [FK_XUPHAT_SACHCOPY] FOREIGN KEY([MaCuonSach])
REFERENCES [dbo].[SACHCOPY] ([MaVach])
GO
ALTER TABLE [dbo].[XUPHAT] CHECK CONSTRAINT [FK_XUPHAT_SACHCOPY]
GO
USE [master]
GO
